# IDE
.idea/
.vscode/

# Sources
src/

# Build
.github/
scripts/
docs/
coverage/
__tests__/
build/*.tsbuildinfo
.gitattributes
.eslintrc.yml
typedoc.json
tsconfig.json
tsconfig.esm.json
tsconfig.eslint.json
jest.config.js
